<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Lanchd.plist
   TimeMachineScheduler

   Created by Vladymyr Moskalyuk on 9/28/17.
   Copyright (c) 2017 Vladymyr Moskalyuk. All rights reserved.
-->
<plist version="1.0">
    <dict>
		<key>Label</key>
		<string>com.volodyko.TimeMachineSchedulerHelper</string>
    </dict>
</plist>
